body {
  background-color: lavender;
}

textarea {
  width: 250px;
  height: 400px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 30px;
  background-color: black;
  color: green;
}

header {
  background-color: lightskyblue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: sandybrown;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.editor-container {
  flex: 1 0 50%;
  min-width: 350px;
  height: 500px;
  color: white;
  box-sizing: border-box;
  padding-top: 50px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 550px;
  left: 47.5%;
}
