:root {
  --primary-font: 'Arial', sans-serif;
  --rust: #636363;
  --rust-dark: #6b6b6c;
  --border-color: rgb(135, 135, 137);
  --border: 1px solid var(--border-color);
  --header-main-border: rgb(73, 73, 74);
  --header-transition: 0.3s ease-in-out;
  --header-tint: #4f4f50;
  --header-border-radius: 6px;
  --header-accent-border: rgb(79, 79, 79);
}

/* Modify normalized styles */
button,
input,
optgroup,
select,
textarea {
  color: text;
  font-family: var(--primary-font);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #c8c8c9;
  padding: 0 1em;
  font-family: var(--primary-font);
}

/* stylelint-disable-next-line selector-class-pattern */
.language-rust_errors .warning {
  color: #100d08;
}
.language-rust_errors .error {
  color: #bf1b1b;
}
